# python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# data
data/*
!data/.gitkeep

# model
models/*
!models/.gitkeep

# hasil visualisasi
hasil_visualisasi/*
!hasil_visualisasi/.gitkeep

# jupyter
.ipynb_checkpoints/

# os
.DS_Store
Thumbs.db
