# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Python environment files
.python-version

# Testing / coverage
.pytest_cache/
.coverage

# Build files
dist/
build/
*.egg-info/
